<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All tests Suite">
    <parameter name="url" value="https://opensource-demo.orangehrmlive.com/web/index.php/auth/login"></parameter>
    <test name="All Tests" parallel="tests" thread-count="2">
        <classes>
            <class name="testClasses.LoginPageTest"/>
            <class name="testClasses.DashboardPageTest"/>
            <class name="testClasses.AdminPageTest"/>
        </classes>
    </test>
</suite>
